@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
body {
  margin: 0 0;
  width: 100vw;
  height: 100vh;
}
.developed-by {
  font-size: 3rem;
  font-family: "Sacramento", cursive;
}

.page {
  position: relative;
  margin: 0 0;
  padding: 0 0;
}
